/*
background color: white #FFFFFF
text color: black #000000
accent color: yellow #F1F631
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
  background-color: #FFFFFF;
}

header {
  font-family: 'Source Code Pro', serif;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  background-color: #F1F631;
}

footer {
  text-align: center;
  padding-top: 35px;
}

hr.line {
  height: 6px;
  background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
  border: 0;
  }

footer .container p:last-child {
  font-size: 9px;
  margin-top: 2rem;
}
footer .social ul {
  list-style: none;
  padding: 0;
}
footer .social ul li {
  display: inline-block;
  margin: 0 0.5rem;
}
footer .social ul li a {
  border-radius: 50%;
}

h1, h2, h3 {
  font-family: 'Source Code Pro';
  line-height: 1.4;
  text-align: center;
  margin: 40px 0;
}

h1 {
  font-size: 2.3em;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
}

h4 {
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.4;
  font-size: 1.2em;
  font-weight: 600;
}

img {
  width: 100%;
}

u {
    text-decoration: none;
    border-bottom: 8px solid #F1F631;
  }​

a {
  color: #000000;
}

a:hover,
a:focus {
  color: #F1F631;
  text-decoration: none;
}

a:active {
  color: #F1F631
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #F1F631;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 40px;
  transition-duration: 0.4s;
  border: 2px solid #F1F631;
  border-radius: 7px;
}

.button:hover {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 3px;
  border: 2px solid #F1F631;
  border-radius: 7px;
}

.button:active {
  background-color: #F1F631;
  color: #FFFFFF;
  border-radius: 7px;
}

.button.contact {
  background-color: #F1F631;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #F1F631;
  border-radius: 7px;
  transition-duration: 0.4s;
}

.button.contact:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #F1F631;
  border-radius: 7px;
}

.button.contact:active {
  background-color: #F1F631;
  color: #000000;
  border-radius: 7px;
}

.contact.info {
  text-decoration: underline;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  background-color: #FFFFFF;
  border: 1.5px solid #0077B5;
  color: #0077B5;
  transition: 0.4s;
}

.fa-linkedin:hover {
  opacity: 0.8;
  background-color: #0077B5;
  color: #FFFFFF;
}

.fa-linkedin:active {
  opacity: 0.8;
  background-color: #0088CF;
  color: #FFFFFF;
}

.fa-dribbble {
  background-color: #FFFFFF;
  border: 1.5px solid #EA4C89;
  color: #EA4C89;
  transition: 0.4s;
}

.fa-dribbble:hover {
  background-color: #EA4C89;
  color: #FFFFFF;
}

.fa-dribbble:active {
  background-color: #ED6398;
  color: #FFFFFF;
}

.fa-flickr {
  background-color: #FFFFFF;
  border: 1.5px solid #FF0084;
  color: #FF0084;
  transition: 0.4s;
}

.fa-flickr:hover {
  background-color: #FF0084;
  color: #FFFFFF;
}

.fa-flickr:active {
  background-color: #F07AA7;
  color: #FFFFFF;
}

.fa-twitter {
  background-color: #FFFFFF;
  border: 1.5px solid #1DA1F2;
  color: #1DA1F2;
  transition: 0.4s;
}

.fa-twitter:hover {
  background-color: #1DA1F2;
  color: #FFFFFF;
}

.fa-twitter:active {
  background-color: #35ABF3;
  color: #FFFFFF;
}

/*
========================
    Layout styling
========================
*/

.container {
  padding: 0 15px;
}

.logo {
  max-width: 60px;
}

footer h2{
  margin: 30px 0;
}
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

nav > ul > li >a:hover {
  color: #000000;
  text-decoration: underline;
}

nav > ul > li >a:active {
  color: #000000;
  text-decoration: underline;
}

.row{
  margin: 25px 0;
}

.img-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.img-container > div {
  margin: 20px;
}

.column.col-md-6.col-lg-5 h3 {
  text-align: left;
}

.fonts-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.fonts-container picture {
  width: 50%;
}

.abode-logo {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.abode-symbol {
  width: 20%;
  height: auto;
  display: block;
  margin: auto;
}

.illustration {
  width: 32%;
  height: auto;
  display: inline-block;
  margin: auto;
}

.persona1 {
  padding: 0 0 10px 0;
}

.persona2 {
  padding: 0 0 10px 0;
}

#gif {
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

#cv {
  text-align: center;
}

#work .row {
  border-bottom: 1px solid #000000;
  padding-bottom: 25px;
}
#work h3 {
  margin: 20px 0;
  text-align: center;
}
#work .btn-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  font-weight: 600;
  font-size: 1.8em;
  text-transform: none;
}

#hero span {
  font-weight: 400;
  display: block;
}

#hero h4 {
  font-family: 'Open Sans';
}

#schnitzeljagdTestings h4 {
  text-align: left;
}
#schnitzeljagdTestings span {
  text-decoration: none;
}

#abodeDS h4 {
  text-align: left;
}

/*
========================
    CSS KEYFRAMES
========================
*/

@keyframes color-change1 {
  0% {fill: #FAF20F;}
  50% {fill: ##F3DA35;}
  100% {fill: #F3682C;}
}

.sun {
  animation: 4s color-change1 infinite alternate linear;
  text-align: center;
}

@keyframes airplane-move {
  from {transform: translate(11px,10px);}
  to {transform: translate(-600px,10px);}
}

.airplane {
  text-align: right;
  animation: 8s airplane-move infinite linear;
}

.umbrella {
  fill: #2E9EF3;
}

/*
========================
    MEDIA QUERIES
========================
*/

/* invision prototype iphone 5 */
@media only screen and (max-width: 320px) {
  .iframe-container {
    transform: scale(0.65);
    margin-left: -28%;
  }
  .iframe-container iframe {
    width: 500px;
  }
}
/* invision prototype mobile */
@media (max-width: 450px) and (min-width: 321px) {
  .iframe-container {
    transform: scale(0.7);
    margin-left: -17%;
  }
  .iframe-container iframe {
    width: 120%;
  }
}

/* invision prototype devices > iphone 5 */
@media only screen and (min-width: 451px) {
  .iframe-container {
    display: flex;
    justify-content: center;
  }
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  body {
    font-size: 18px;
  }

  .container {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  #work .col-md-6 {
    width: 50%;
  }

  #about h3 {
    margin-top: 0;
  }

  #about .col-md-6 {
    width: 100%;
  }

  #about .skills, #about .tools {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px 0 10px;
  }

  .row::after{
    content: "";
    clear: both;
    display: table;
  }

  #work .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1025px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  .col-lg-7 {
    width: 58.3%;
    float: left;
  }

  .col-lg-5 {
    width: 41.6%;
    float: right;
    padding-left: 30px;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  body{
    font-size: 20px;
  }

  #about .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  #about .row .col-lg-8 {
    width: 60%;
  }

  #about .row .col-lg-4 {
    width: 40%;
    padding-left: 50px;
  }

  #about h3 {
    margin-top: 0;
  }

  #work .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }
}
